* {
    margin: 0;
    padding: 0;
}

.pageRight {
    display: flex;
    justify-content: flex-end;
}


.containerRight {
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.textBox {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.line1, .line2, .line3 {
    font-size: 2em;
}

.formContainer {
    margin-top: 25px;
    
}

.signUp {
    font-size: 2em;
    margin-bottom: 25px;
}

form {
    height: 35%;
    width: 65%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 65px;
}

label {
    display: block;
    font-size: 1.5em;
}

input {
    padding: 10px;
    width: 300px;
}

.pageRightBottom {
    height: 15%;
    width: 65%;
    margin-bottom: 10%;
    font-size: 1.2em;
}